.App {
    text-align: center;
}

.App-header {
    background-color: #222;
    padding: 10px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.container-background {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
    filter: blur(12px);
    transform: scale(1.05);
}

.hero-display {
    display: flex;
    justify-content: center;
}

.hero-list {
    padding: 40px;
}

.request-item-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
}

.request-item-button img {
    width: 100%;
    cursor: pointer;
}

.hero-slot {
    height: 100px;
    border: 2px #222 solid;
    width: 300px;
    margin-bottom: 20px;
    cursor: pointer;
}

.hero-slot:hover {
    background: rgba(255, 255, 255, 0.2);
}

.hero-slot-empty {
    color: #222;
    font-size: 76px;
}

.hero-slot-item {
    height: 100%;
}

.hero-item {
    color: white;
    font-size: 30px;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    line-height: 98px;
    text-shadow: 0px 0px 4px black;
}

.hero-selector-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: default;
}

.hero-selector {
    width: 300px;
    margin-top: -102px;
    margin-left: -2px;
    position: absolute;
    background: white;
    border: 2px #222 solid;
    z-index: 1;
}

.hero-selector-input {
    height: 40px;
    padding: 0 10px;
    width: calc(100% - 20px);
    border: none;
    outline: none;
    font-size: 24px;
    background: #222;
    color: #ccc;
}

.hero-selector-input:focus {
    background: #444;
}

.hero-selector-list {
    max-height: 200px;
    overflow-y: scroll;
}

.hero-selector-item {
    padding: 4px;
    background: black;
    display: flex;
    align-items: center;
}

.hero-selector-item:hover {
    background: #222;
}

.hero-selector-thumbnail {
    height: 50px;
}

.hero-selector-name {
    color: white;
    font-size: 1.2em;
    margin-left: 10px;
}

.hero-selector-not-found {
    color: #ccc;
    background: #444;
    height: 58px;
    font-size: 1.2em;
    line-height: 58px;
}

.hero-item-display {
    display: flex;
    justify-content: center;
}

.hero-item-list {
    padding: 20px;
}

.item-recommendation {
    display: flex;
    margin-bottom: 10px;
    padding: 12px;
    border: 2px #222 solid;
    width: 620px;
}

.item-recommendation-hero-image {
    flex-shrink: 0;
    width: 90px;
    height: 90px;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 50%;
    border: 2px white solid;
    margin-right: 10px;
    box-shadow: 0px 0px 4px black;
}

.item-recommendation-hero-name {
    text-align: left;
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 28px;
    color: white;
    text-shadow: 0px 0px 4px black;
}

.item-recommendation-category {
    display: flex;
    font-size: 20px;
    color: white;
    min-height: 48px;
    text-shadow: 0 0 4px black;
}

.item-recommendation-type {
    flex: 0 0 120px;
    margin-top: 12px;
}

.item-recommendation-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
    min-width: 400px;
}

.item-recommendation-item {
    margin: 2px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-size: cover;
    background-position: 50% 50%;
    border: 2px white solid;
    box-shadow: 0px 0px 4px black;
}

.item-tooltip {
    position: relative;
    top: 48px;
    left: -140px;
    background: black;
    color: #ddd;
    width: 300px;
    padding: 10px;
    text-align: left;
    font-size: 14px;
    box-shadow: 0px 0px 4px black;
}

.item-tooltip::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 150px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid black;
}

.item-tooltip-info {
    margin-bottom: 8px;
}

.item-tooltip-name {
    font-size: 24px;
    font-weight: bold;
}

.item-tooltip-notes {
    color: #6fe771;
}

.item-tooltip-cost {
    color: #f5c433;
    display: flex;
    align-items: center;
}

.item-tooltip-cost img {
    margin-right: 5px;
}

.item-tooltip h1 {
    font-size: 20px;
    margin: 6px 0;
}

.item-tooltip br {
    display: none;
}

.item-tooltip .attribVal {
    color: #f5c433;
}

.item-tooltip-lore {
    margin-top: 10px;
    font-size: 11px;
    color: #999;
}

.item-tooltip-cd-mc {
    display: flex;
}

.item-tooltip-cd-mc img {
    margin-right: 5px;
}

.item-tooltip-cd-mc .cd-mc {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.model-selection-container {
    position: absolute;
    background: black;
    color: white;
    opacity: 0.9;
    transform: translateX(-170px);
    transition: all 0.3s ease-in-out;
}

.model-selection-container:hover {
    transform: translateX(0);
}

.model-selection-title {
    font-size: 18px;
    padding: 20px;
}

.model-selection-item {
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
}

.model-selection-item:hover {
    background: #333;
}

.model-selection-item.active {
    background: #666;
}